<div class="top-menu"> 
    <a mat-button  href="https://www.facebook.com/morymoussa.camara">
        <mat-icon class="mat-icon-sm account-icon">facebook</mat-icon>  <!--<mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>-->
    </a>   
    <a mat-button  href="https://www.facebook.com/morymoussa.camara">
        <mat-icon class="mat-icon-sm account-icon">facebook</mat-icon>  <!--<mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>-->
    </a>
    <a mat-button  href="https://www.facebook.com/morymoussa.camara">
        <mat-icon class="mat-icon-sm account-icon">facebook</mat-icon>  <!--<mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>-->
    </a>
    <a mat-button  routerLink="sign-in" >
        <mat-icon class="mat-icon-sm account-icon">person</mat-icon> <span fxShow="false" fxShow.gt-sm>Se connecter</span> <!--<mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>-->
    </a>
    

</div>  