<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="50" class="p-2">
        <h2 class="text-muted text-center">Détails du compte</h2>
        <form [formGroup]="infoForm" (ngSubmit)="onInfoFormSubmit(infoForm.value)">
            <mat-form-field class="w-100 mt-2">
                <input matInput placeholder="Nom complet" formControlName="fullname" required>
                <mat-error *ngIf="infoForm.controls.fullname.errors?.required">First Name is required</mat-error>
                <mat-error *ngIf="infoForm.controls.fullname.hasError('minlength')">First Name isn't long enough, minimum of 3 characters</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mt-1">
                <input matInput placeholder="Téléphone" formControlName="phoneNumber" required>
                <mat-error *ngIf="infoForm.controls.phoneNumber.errors?.required">Last Name is required</mat-error>
                <mat-error *ngIf="infoForm.controls.phoneNumber.hasError('minlength')">Last Name isn't long enough, minimum of 3 characters</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mt-1">
                <input matInput placeholder="Email" formControlName="username" required>
                <mat-error *ngIf="infoForm.controls.username.errors?.required">Email is required</mat-error>
                <mat-error *ngIf="infoForm.controls.username.hasError('invalidEmail')">Invalid email address</mat-error>
            </mat-form-field>
            <div class="text-center mt-2">
                <button mat-raised-button color="primary" (click)="onInfoFormSubmit(infoForm.value)">Modifier</button>
            </div> 
        </form>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="50" class="p-2" ngClass.sm="mt-2" ngClass.xs="mt-2">
        <h2 class="text-muted text-center">Changer le mot de passe</h2>
        <form [formGroup]="passwordForm" (ngSubmit)="onPasswordFormSubmit(passwordForm.value)">            
            <mat-form-field class="w-100 mt-2">
                <input matInput placeholder="Mot de passe actuel" formControlName="currentPassword" type="password" minlength="6" required>
                <mat-error *ngIf="passwordForm.controls.currentPassword.errors?.required">Mot de passe actuel est obligatoire</mat-error>
                <mat-error *ngIf="passwordForm.controls.currentPassword.hasError('minlength')">Current Password isn't long enough, minimum of 6 characters</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mt-1">
                <input matInput placeholder="Nouveau mot de passe" formControlName="newPassword" type="password" minlength="6" required>
                <mat-error *ngIf="passwordForm.controls.newPassword.errors?.required">Nouveau mot de passe est obligatoire</mat-error>
                <mat-error *ngIf="passwordForm.controls.newPassword.hasError('minlength')">Mot de passe trop faible, minimum 6 characteres</mat-error>
            </mat-form-field> 
            <mat-form-field class="w-100 mt-1">
              <input matInput placeholder="Confirmer nouveau mot de passe" formControlName="confirmNewPassword" type="password" required>
              <mat-error *ngIf="passwordForm.controls.confirmNewPassword.errors?.required">Confirmer mot de passe</mat-error>
              <mat-error *ngIf="passwordForm.controls.confirmNewPassword.hasError('mismatchedPasswords')">Les mots de passes ne correspondent pas!</mat-error>
            </mat-form-field>
            <div class="text-center mt-2">
                <button mat-raised-button color="primary" (click)="onPasswordFormSubmit(passwordForm.value)">Changer</button>
            </div>
        </form>
    </div>
</div> 
